.rc-slider-track {
  background-color: #b0b0b0;
}

.rc-slider-dot-active,.rc-slider-handle {
  border-color: #b0b0b0;
}

.rc-slider-handle:hover {
  border-color: #b0b0b0;
}

.rc-slider-handle:active {
  border-color: #b0b0b0;
  box-shadow: unset;
}

.rc-slider-handle:focus {
  border-color: #b0b0b0;
  box-shadow: unset;
}

.rc-slider-mark-text{
	color: white;
}